
#card {
    flex: 1 0 35%;
    height: 183px;
    border: .0625rem solid rgba(255, 255, 255, 0.5);
    border-radius: .625rem;
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;

}

#card:hover{
    border: 1px solid var(--bg-color);
    box-shadow: rgb(130, 130, 130) 5px 10px 20px -5px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.0625rem;
    border: .0625rem white;
}

.paragrafh{
    display: flex;
    justify-content: space-between;
    margin-top: 1.0625rem;
    border: .0625rem white;
}


.link {
    margin-top: 3rem;
    text-decoration: none;
}

.linkRepo{
    margin-top: .5rem
}

#IconGitHub {
    width: 1.875rem;
    max-width: 1.875rem;
    height: 1.875rem;
    max-height: 1.875rem;
    color: var(--color-white);
}