.card {
    box-sizing: border-box;
    width: 17.9375rem;
    height: 5.375rem;
    border: .0625rem solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    margin-top: 1.25rem;
}

.card>img {
    width: 2rem;
}

@media (max-width: 37.5rem) {
    .card {
        width: 21.875rem;

    }
}