.container{
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3.93rem auto 0 auto;
    padding: 0 auto;
}

